[run]
branch = True
source =
    function_app
    functions

# Files and patterns to omit from coverage measurement.
omit =
    # Ignore package initialisers
    */__init__.py

    # Example template/boilerplate modules to skip (uncomment or add your own):
    functions/notifications/services.py


[report]
show_missing = True


